/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* @import "tailwindcss";  */

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll and small custom styles */
html {
  scroll-behavior: smooth;
}

/* navbar active link glow */
.nav-active {
  color: #22d3ee; /* cyan-300 */
  text-shadow: 0 0 10px rgba(34,211,238,0.75);
}
























